/* style.css */

/* Alap stílusok */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('hatter.jpg');
    background-size: auto;
    background-repeat: repeat;
    color: #fff;
}

/* Fejléc */
.header {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 10px;
}

.header h1 {
    color: #fff;
    margin: 0;
    font-size: 24px;
}

/* Menü */
nav {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Tartalom középre igazítása */
#videos,
#map {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

iframe {
    border: 0;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Címkék középre igazítása */

h1 {
    color: #0ef4f4;
    font-size: 45px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 35px;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    color: #0ef4f4;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

/* Címsor háttérsáv */
.hero {
    background-color: rgba(166, 21, 21, 0.2);
    font-size: 20px;
    margin-bottom: 10px;
    padding: 20px;
}


.image-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px; /* Maximális képszélesség */
}

.image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.image-wrapper img:hover {
    transform: scale(1.05);
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
    background-color: darkred;
}

